<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>채권형주식 스크리닝 결과</title>
</head>
<body>
        <form action="{% url 'stockChoice:getBondStyleStockExcel' %}"  method="POST">
            {% csrf_token %}
            <textarea rows="20" cols="200" name="stock_list">{{stockList}}</textarea> <br />
            <input type="submit" value="Excel Download" />
        </form>​
    <ul>
        {% for stock in stockList %}
            <li>
            <a href="http://search.itooza.com/search.htm?seName={{ stock.stc_id }}" target="_blank"> {{ stock.stc_name }}</a> | {{ stock.stc_dvsn }} | {{ stock.price }} | {{ stock.avg_roe }} | {{ stock.estimate_value }} |{{ stock.annul_earning }} | {{ stock.avg_dis }} | {{ stock.stc_memo }}
            </li>
        {% endfor %}
        <br>
    </ul>
</body>
</html>